body{
	font-family: montserrat;
	overflow-x: hidden;
}

hr{
    border: 0;
    clear:both;
    display:block;
    width: 100%;               
    background-color:#ccc;
    height: 1px;
}

.logo{
	height: 36px;
}

p, h4{
	font-weight: 300;
}

p,h4,h2{
	line-height: 150%;
}

img {
	border-radius: 6px;
}

.row{
	text-align: center;
}

.top-nav{
	display: block;
	align-items: center;
	background-color: #ffff;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 1;
	margin: 0;
}

	.top-nav .dropdown-arrow{
		transition: .5s;
	}

	.top-nav .top-section{
		padding: 20px 200px 20px 200px;
		margin: 0;
		box-shadow: 1px 1px 20px 1px rgba(0, 0, 0, 0.062);
		display: flex;
		align-items: center;
	}

	.top-nav a{
		text-decoration: none;
		color: black;
		float: left;
		font-size: 16px;
		margin: 0px 14px 0px 0px;
		padding: 0;
	}

	.top-nav .left-nav{
		display: flex;
		align-items: center;
		padding: 0;
	}

	.top-nav .right-nav{
		display: flex;
		align-items: center;
		flex-direction: row;
		justify-content: center;
		margin: 0;
		padding: 0;
	}

	.top-nav .right-nav .btn-login{
		border: solid black 2px;
		padding: 10px 0px 10px 0px;
		border-radius: 2px;
	}

	.top-nav .right-nav .btn-signup{
		background-color: #626262;
		border: solid #626262 2px;
		color: white;
		padding: 10px 0px 10px 0px;
		border-radius: 2px;
		margin: 0;
	}

.bottom-section{
	display: none;
	align-items: center;
	margin: 0;
	box-shadow: 4px 4px 10px 1px rgba(0, 0, 0, 0.212);
}

	.bottom-section .left-section{
		background-color: #ccc;
		padding: 70px 20px 70px 300px;
		text-align: left;
	}

	.bottom-section .drop-top{
		text-align: left;
		display: flex;
		align-items: center;
		margin: 10px 0px;
	}

	.bottom-section .drop-top a{
		color: #626262;
		text-decoration: none;
		font-size: 1.5em;
		margin-left: 10px;
	}

	.bottom-section .drop-top i{
		color: #626262;
	}

	.bottom-section .drop-top{
		text-align: left;
	}

	.bottom-section .right-section{
		padding: 30px 200px 30px 50px;
		text-align: left;
	}

	.bottom-section .right-section a.item{
		color: #626262;
		text-decoration: none;
		font-size: 1em;
	}

	.bottom-section .right-section a.title{
		color: #626262;
		text-decoration: none;
		font-size: 1.5em;
		margin-bottom: 10px;
	}

	.right-section .popular-program,.blog{
		text-align: left;
		margin-left: 10px;
	}


.footer{
	flex-grow: 10;
}

.top-footer{
	border-top: 1px solid #ccc;
	display: flex;
	align-items: center;
}

	.top-footer .left-section{
		background-color: #eee;
		padding: 50px 50px 50px 200px;
		text-align: left;
	}

	.top-footer .left-section .social-icon i{
		cursor: pointer;
		margin: 0px 4px;
	}

	.top-footer .right-section{
		text-align: left;
		padding: 0px 200px 0px 50px;
		margin-top: -30px;
	}

	.top-footer .right-section h2 strong{
		line-height: 150%;
		margin-bottom: 20px;
		color: #ccc;
	}

	.top-footer .right-section a{
		font-weight: 300;
		text-decoration: none;
		color: #ccc;
	}

.bottom-footer{
	border-top: 1px solid #ccc;
	display: flex;
	align-items: center;
	background-color: #eee;
	padding: 14px 200px 14px 200px;	
}

	.bottom-footer .left-section p{
		margin: 0;
		text-align: left;
	}

	.bottom-footer .right-section{
		text-align: right;
	}

	.bottom-footer .right-section a{
		font-weight: 300;
		color: #000;
		text-decoration: none;
	}