.first-section{
    margin: 100px 200px 0px 200px;
}

    .first-section .title{
        text-align: left;
    }

    .first-section .form{
        width: 100%;
    }

    .first-section .form input{
        padding: 10px;
        width: 100%;
        margin: 10px 0px;
    }

    .first-section .form textarea{
        width: 100%;
        padding: 10px;
        margin: 10px 0px;
    }

    .first-section .check{
        display: flex;
        align-items: center;
        margin-left: 10px;
    }

    .first-section .check input{
        margin: 0px;
    }

    .first-section .check p{
        margin: 0px 10px;
    }

    .first-section .check a{
        color: #000;
        text-decoration: none;
    }

    .first-section .button-container{
        display: flex;
        align-items: center;
        margin: 20px 0px;
    }

    .first-section .button-container .button{
        text-align: right;
    }

    .first-section .button-container .button a{
        color: #fff;
        text-decoration: none;
        background-color: #626262;
        padding: 10px 24px;
    }

.second-section{
    margin: 50px 200px 50px 200px;
}
    .second-section .title{
        margin: 20px 0px;
    }

    .second-section .content{
        display: flex;
        align-items: center;
    }

    .second-section .text{
        text-align: left;
        margin-bottom: 24px;
    }

    .second-section .text a{
        color: #fff;
        padding: 10px 24px;
        background-color: #626262;
        text-decoration: none;
    }