.banner {
    padding: 130px 200px 50px 200px;
    display: flex;
    align-items: center;
}

    .banner h1{
        margin: 0;
    }

    .banner img{
        max-width: 270px;
        border-radius: 4px;
    }

    .banner .second{
        text-align: left;
    }

    .banner .details{
        text-align: left;
        margin: 20px 0px 0px 0px;
    }

    .banner .item{
        padding: 0;
    }

    .banner .item p{
        display: flex;
        align-items: center;
        font-weight: 400;
        color: #626262;
    }

    .banner .item i{
        margin-right: 8px;
        font-size: 1.5em;
    }

    .banner .third{
        text-align: right;
    }

    .banner .third i{
        font-size: 1.3em;
        color: #626262;
        margin-left: 8px;
    }

.desc-container{
    padding: 50px 200px 0px 200px;
}

    .desc-container .title{
        text-align: left;
        margin-bottom: 30px;
    }

    .desc-container .image{
        background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../images/program/programming.jpg");
        min-height: 400px;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 10px;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
    }

    .desc-container .image h1{
        color: #fff;
    }

    .desc-container .image p{
        color: #fff;
        max-width: 600px;
    }

    .desc-container .image img{
        filter: invert(1);
        width: 150px;
    }

    .desc-container .description{
        text-align: left;
        margin-top: 20px;
        font-size: 1.2em;
    }

    .desc-container .description ul{
        font-weight: 300;
        margin-top: 10px;
    }

.accordion-container{
    padding: 0px 200px 100px 200px;
    text-align: left;
}

    #accordion{
		text-align: left;
        padding: 0;
	}

	.accordion-card{
		float: left;
		width: 100%;
		margin-bottom: -20px;
	}

	.accordion-card .accordion-header{
		margin-bottom: -20px;
	}

	.accordion-card .accordion-header h3{
		position: relative;
		color: #000;
		background-color: #eee;
		padding: 20px;
		cursor: pointer;
	}

	.accordion-card .accor-arrow{
		transition: .5s;
	}

	.accordion-card .accordion-header h3 span{
		position: absolute;
		right: 20px;
	}

	.accordion-card .accordion-body{
		padding: 6px 40px 20px 40px;
		background-color: #eee;
		display: none;
	}

	.accordion-card:nth-child(1) .accordion-body{
		display: block;
	}

    .accordion-container .title{
        text-align: left;
        padding: 0;
    }

.inv-container {
    margin: 0px 200px 50px 200px;
}
    .inv-container .button h3{
        padding: 20px 28px;
        background-color: #626262;
    }

    .inv-container a{
        text-decoration: none;
        color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
    }