.content{
    padding: 100px 200px 80px 200px;
    text-align: left;
}

    hr{
        margin: 10px 0px;
    }

    .content .headline{
        text-align: left;
        margin-bottom: 20px;
    }

    .content .left, .middle, .right{
        text-align: left;
    }

    .content a{
        color: #000;
        font-weight: 300;
        font-size: large;
    }